body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header {
  height: 100px;
  background-color: #8c7678;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}
.header__logo {
  width: 70px;
  height: 70px;
  background-color: #f2f0eb;
  transition: 1s;
  border-radius: 10px;
}
.header__logo:hover {
  width: 80px;
  height: 80px;
}
.header__menu a {
  text-decoration: none;
  color: #f2f0eb;
  transition: 0.7s;
  font-size: 14pt;
  transition: 0.7s;
}
.header__menu a:hover {
  color: #000000;
}
.header__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
}
.header__menu li {
  font-family: "Geometria";
  list-style: none;
  padding-left: 10px;
}

.header__button button {
  font-family: "Geometria";
  background-color: #fff;
  border-radius: 2px;
  padding: 7px 7px 7px 7px;
  background-color: #000000;
  border: none;
  font-size: 16px;
}
.header__button a {
  text-decoration: none;
  color: #f2f0eb;
  transition: 0.7s;
}
.header__button a:hover {
  color: #8c7678;
}
/* main */
main {
  padding: 0;
  margin: 0;
}
.container__headline {
  height: 600px;
  background-image: url("./Images/aalto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__h1 {
  width: 70%;
  height: 40%;
  border-radius: 2px;
  background-color: #00000091;
  color: white;
  font-family: "Geometria";
  text-align: center;
  font-size: 24px;
}
.p {
  font-weight: 600;
  font-size: 55px;
  text-shadow: 2px 2px 3px black;
}
.p2 {
  margin-top: -50px;
  text-shadow: 2px 2px 3px black;
}
.container__videocard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f0eb;
}
.container__videocard p {
  font-family: "Geometria";
  font-weight: 600;
  font-size: 45px;
}
.container__videocard video {
  max-width: 70%;
  padding-bottom: 2%;
}
.main__slider {
  background-color: #cfb6ba;
  height: 600px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 50px;
  padding-right: 150px;
}
.slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0;
  transition: opacity 2s;
}

.slide:first-child {
  opacity: 1;
}
.slide__headline {
  font-family: "Geometria";
  width: 500px;
  align-self: start;
}
.sl__h {
  font-weight: 600;
  font-size: 55px;
}
.s {
  background-color: black;
  color: #000000;
}
/* footer  */
footer {
  height: 150px;
  background-color: #000000;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}
.footer__logo {
  width: 70px;
  height: 70px;
  background-color: #f2f0eb;
  transition: 1s;
  border-radius: 10px;
}
.footer__logo:hover {
  width: 80px;
  height: 80px;
}
.footer__menu a {
  text-decoration: none;
  color: #f2f0eb;
  transition: 0.7s;
  font-size: 14pt;
}
.footer__menu a:hover {
  color: #cfb6ba;
}
.footer__menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  justify-content: space-around;
}
.footer__menu li {
  font-family: "Geometria";
  list-style: none;
  padding-left: 10px;
}

@media (min-width: 720px) {
  body {
    min-width: 700px;
  }
}
